params {
    fastq_files     = "./files/*_R{1,2}_001.fastq"
    ref_fasta       = "./files/Earth_reference.fasta" 
    trimmed_fastq   = "./trimmed/*_paired.fastq.gz"
    outdir          = "./out"
}

process {

    // Varsayılan: publishDir tanımlanmayan process'ler de outdir'a gitsin
    publishDir = [
        path: params.outdir,
        mode: 'copy',
        overwrite: true
    ]

    withName: FASTQC {
        cpus   = 4
        memory = 24.GB
        time   = '1h'
        publishDir = [ path: "${params.outdir}/01_fastqc", mode: 'copy', overwrite: true ]
    }

    withName: TRIMMING {
        cpus   = 4
        memory = 18.GB
        time   = '2h'
        publishDir = [ path: "${params.outdir}/02_trimming", mode: 'copy', overwrite: true ]
    }

    withName: SPADES_ASSEMBLY {
        cpus   = 4
        memory = 20.GB
        time   = '6h'
        publishDir = [ path: "${params.outdir}/03_spades_assembly", mode: 'copy', overwrite: true, pattern: "spades_out/*fasta"]
    }

    withName: PROKKA {
        conda  = 'bioconda::prokka=1.14.6'
        cpus   = 4
        time   = '6h'
        publishDir = [ path: "${params.outdir}/04_prokka", mode: 'copy', overwrite: true ]
    }

    withName: PROKKA_REF {
        conda  = 'bioconda::prokka=1.14.6'
        cpus   = 4
        time   = '6h'
        publishDir = [ path: "${params.outdir}/04_prokka_ref", mode: 'copy', overwrite: true ]
    } 


    withName: FASTANI {
        cpus   = 2
        memory = 4.GB
        time   = '1h'
        publishDir = [ path: "${params.outdir}/05_ani", mode: 'copy', overwrite: true ]
    }




    withName: MUMMER_NUCMER {
        cpus   = 2
        memory = 8.GB
        time   = '2h'
        publishDir = [ path: "${params.outdir}/06_wga_mummer", mode: 'copy', overwrite: true ]
       
    }


    withName: ROARY {
        cpus = 4
        memory = '8 GB'
        time = '2h'
        publishDir = [ path: "${params.outdir}/07_pangenome_roary", mode: 'copy',overwrite : true ] 
        maxForks = 1

    }




}

conda.enabled  = true
conda.cacheDir = "$HOME/.nextflow/conda"

